# Spotle AI - NASSCOM Community AI Internship Program
## Task 1 - Project - Analyze Crop Production of India

In [1]:
import pandas as pd
import seaborn as sb
import matplotlib as plt
import numpy as np
import math

In [2]:
crop_df = pd.read_csv ("D:/Spotle AI Internship/state-wise-crop-production-India.csv")
crop_df

                             State  Year        Crop      Area  Production
0      Andaman and Nicobar Islands  2000    Arecanut    4354.0      7200.0
1      Andaman and Nicobar Islands  2000      Banana    1707.0     12714.0
2      Andaman and Nicobar Islands  2000   Cashewnut     800.0       219.0
3      Andaman and Nicobar Islands  2000    Coconut    25160.0  89000000.0
4      Andaman and Nicobar Islands  2000  Dry ginger     388.0      1220.0
...                            ...   ...         ...       ...         ...
10699                  West Bengal  2013   Sugarcane   17021.0   1945042.0
10700                  West Bengal  2013   Sunflower    6434.0      8717.0
10701                  West Bengal  2013     Tobacco   12570.0     22287.0
10702                  West Bengal  2013        Urad   70052.0     48810.0
10703                  West Bengal  2013       Wheat  331481.0    927837.0

[10704 rows x 5 columns]

### _Question 1_
### _Find the average production of the crops in India._

In [3]:
avg_crop_prod = crop_df.groupby('Crop').Production.mean().sort_values(ascending = True).reset_index()
print("Average Crop Production in India")
print(avg_crop_prod)

Average Crop Production in India
                   Crop    Production
0                 Apple  0.000000e+00
1                 Peach  0.000000e+00
2       Other Dry Fruit  0.000000e+00
3    Other Citrus Fruit  0.000000e+00
4                 Plums  0.000000e+00
..                  ...           ...
117               Paddy  2.785651e+06
118                Rice  3.074956e+06
119               Wheat  3.136744e+06
120           Sugarcane  1.121993e+07
121            Coconut   9.230316e+08

[122 rows x 2 columns]

In [4]:
avg_crop_prod.to_excel(r'D:\Spotle AI Internship\average Crop Production.xlsx')

In [5]:
print(avg_crop_prod.Production.max())

923031631.6765834

In [6]:
maxProdCrop = avg_crop_prod.loc[avg_crop_prod['Production'].idxmax()]
print("Maximum produced Crop: ", maxProdCrop['Crop'],"\nProduction in Tonnes: ", maxProdCrop['Production'])

Maximum produced Crop:  Coconut
Production in Tonnes:  923031631.6765834

### _Question 2_
### _Which crop has maximum yield (Tonnes / Hectare)?_

In [7]:
crop_df['Yield'] = crop_df['Production'] / crop_df['Area']
crop_df

,State,Year,Crop,Area,Production,Yield
0,Andaman and Nicobar Islands,2000,Arecanut,4354.0,7200.0,1.653652
1,Andaman and Nicobar Islands,2000,Banana,1707.0,12714.0,7.448155
2,Andaman and Nicobar Islands,2000,Cashewnut,800.0,219.0,0.273750
3,Andaman and Nicobar Islands,2000,Coconut,25160.0,89000000.0,3537.360890
4,Andaman and Nicobar Islands,2000,Dry ginger,388.0,1220.0,3.144330
...,...,...,...,...,...,...
10699,West Bengal,2013,Sugarcane,17021.0,1945042.0,114.273074
10700,West Bengal,2013,Sunflower,6434.0,8717.0,1.354834
10701,West Bengal,2013,Tobacco,12570.0,22287.0,1.773031
10702,West Bengal,2013,Urad,70052.0,48810.0,0.696768
10703,West Bengal,2013,Wheat,331481.0,927837.0,2.799065

In [8]:
avg_crop_yield = crop_df.groupby('Crop').Yield.mean().sort_values(ascending = True).reset_index()
print("Average Crop Yield in India")
print(avg_crop_yield)

Average Crop Yield in India
                  Crop        Yield
0                Apple     0.000000
1    Peas  (vegetable)     0.000000
2      Other Dry Fruit     0.000000
3                Plums     0.000000
4             Pump Kin     0.000000
..                 ...          ...
117            Tapioca    15.863319
118             Banana    25.164447
119             Papaya    33.630105
120          Sugarcane   245.388441
121           Coconut   5762.131563

[122 rows x 2 columns]

In [9]:
avg_crop_yield.to_excel(r'D:\Spotle AI Internship\average Crop Yield.xlsx')

In [10]:
maxYieldCrop = crop_df.loc[crop_df['Yield'].idxmax()]
print("Maximum yielded Crop: ", maxYieldCrop['Crop'],"\nYield in Tonnes per Hectare: ", maxYieldCrop['Yield'],"\nState: ", maxYieldCrop['State'], "\nYear: ", maxYieldCrop['Year'])

Maximum yielded Crop:  Sugarcane
Yield in Tonnes per Hectare:  70662.5
State:  Punjab
Year:  2011

In [11]:
maxAvgYieldCrop = avg_crop_yield.loc[avg_crop_yield['Yield'].idxmax()]
print("Crop yielded maximum average yield: ", maxAvgYieldCrop['Crop'],"\nYield in Tonnes per Hectare: ", maxAvgYieldCrop['Yield'])

Crop yielded maximum average yield:  Coconut
Yield in Tonnes per Hectare:  5762.1315628135535

### _Question 4_
### _Which State has the highest production of Wheat?_

In [12]:
wheatProduction = crop_df.loc[crop_df['Crop'].values=='Wheat'].groupby('State').Production.sum().sort_values(ascending = True).reset_index()
print("Total Wheat Production. Statewise\n")
print(wheatProduction)

Total Wheat Production. Statewise

                     State   Production
0                   Kerala          0.0
1                  Mizoram          4.0
2               Tamil Nadu         60.0
3           Andhra Pradesh       8304.0
4   Dadra and Nagar Haveli      14689.0
5                  Tripura      22000.0
6                Meghalaya      27456.0
7               Chandigarh      31905.0
8        Arunachal Pradesh      79706.0
9                   Odisha      83855.2
10                  Sikkim      86509.0
11                Nagaland     102210.0
12              Telangana      116469.0
13               Jharkhand     569101.3
14                   Assam     891455.0
15            Chhattisgarh    1520799.0
16               Karnataka    3040594.0
17      Jammu and Kashmir     3293673.8
18        Himachal Pradesh    5041136.0
19             Uttarakhand   10970090.0
20             West Bengal   12406670.0
21             Maharashtra   17730775.0
22                 Gujarat   32414100.0
23                   Bihar   64634930.0
24               Rajasthan   74356374.0
25          Madhya Pradesh  123338759.0
26                 Haryana  132906000.0
27                  Punjab  218811000.0
28           Uttar Pradesh  379678145.0

In [13]:
maxWheatProd = wheatProduction.loc[wheatProduction['Production'].idxmax()]
print("State with maximum wheat production: ", maxWheatProd['State'],"\nTotal production in Tonnes: ", maxWheatProd['Production'])

State with maximum wheat production:  Uttar Pradesh
Total production in Tonnes:  379678145.0